html,body{
    position: fixed;
    overflow: hidden;
}

h2{
    font-size: 28px;
}

.main-container{
    overflow: scroll;
}

/* 设置规范的小标题样式 */
.detail-title{
    margin: 40px 15px 20px;
    display: flex;
    justify-content: space-between;
}
.detail-title-left{
    letter-spacing: 2px;
}
.detail-title-right{
    color: #b2b6bb;
}