html,body{
    position: fixed;
    overflow: hidden;
    font-family: 'JingNanYuan','sans-serif';
}
/* 注册字体 */
@font-face {
    font-family: "JingNanYuan";
    src:url("./font/JingNanMaiYuanTi-2.otf");
}

/* 全局组件样式 */
h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
}

.main-container{
    overflow: scroll;
}

/* 设置规范的小标题样式 */
.detail-title{
    margin: 40px 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail-title-left{
    letter-spacing: 2px;
}
.detail-title-right{
    color: #b2b6bb;
}

/* 标签样式自定义 */
table, caption, tbody, tfoot, thead, tr, th, td{
    vertical-align: middle;
}